:host {
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px;
  padding: 0 0 20px;
  display: block;
}
.error {
  background: #B52D30;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
  line-height: 1;
  padding: 6px 10px;
  margin-top: -1px;
}